@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro:wght@400;700&display=swap');

header{
    height: 61px;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-bottom: 2px solid #F5F5F5;
    background: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #bd7304;
}
.logo{
    width: 47px;
    height: 46px;  

}
.btn {
    background-color:#0a0a23;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    margin: 10px;
    cursor:pointer;
}
.btn:hover {
      background-color:#b9b600;
      transition: 0.7s;
  }

.abc{

    width: 700px;
    height: 350px;
    display: flex;
    right: 200px;

    background: #A9A8A8;
    border-radius: 40px;
    align-items: center;
}
